.filter-icon {
    width: 3vw; /* Adjust to desired width */
    height: 3vw; /* Adjust to desired height */
  }
  
  .filter-icon svg {
    width: 70%;
    height: 70%;
  }
  
  .filter-icon path {
    fill: #0b1e33; /* Adjust the color of the icon itself */
  }
  