.about-us-header{
    margin: 5vh 0;
    display: flex;
}

.about-us-left{
    display: flex;
    background-color: #0b1e33;
    color: white;
    font-weight: 700;
    font-style: italic;
    align-items: center;
    justify-content: center;
    width: 60%;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);
    padding: 2vh 0;
}

.about-us-left img{
    object-fit: contain;
    width: 40vh;
    height: 100%;
    padding: 2vh;
}

.about-us-left p{
    font-size: 2.5vh;
    text-align: end;
    width: 40%;
}

.about-us-middle{
    background-color: #013c58;
    width: 5%;
    margin: 0;
    clip-path: polygon(35% 0, 100% 0, 65% 100%, 0 100%);
    padding: 2vh 0;
}

.about-us-right{
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #ffba42;
    width: 30%;
    text-align: end;
    align-content: center;
    padding: 2vh 0;
}

.about-us-right h3{
    padding: 0 10vh;
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 0.5vh;
    margin: 0;
}
